body{
    background-color: rgb(233, 240, 144);
}
.logos{
    margin: 0px 250px 0px 250px;
    min-width: 250px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    flex-direction: column;
}
.socnetlogos{
    margin: 0px auto;
    display: flex;
    flex-direction: row;
}
.navmenu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px 250px 0px 250px;
    font-size: 25px;
}
.scale:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.news{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    margin: 150px 250px 0px ;
    border: 1px solid #000; 
}
footer{
text-align: center;
}
.navmenu2{
border: 1px solid #000;
margin: 0px 250px 20px 250px;
display: flex;
justify-content: space-around;
}
.emailspam{
    border: 1px solid #000;
    margin: 0px 250px 10px 250px;
}