span{
    text-align: center;
}
footer{
    text-align: center;
}
address{
    text-align: center;
}
.bnp{
    font-size: 14px;
}
.news{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
}
.navmenu>a{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    text-decoration: none;
}
